<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for Booking email</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<H4>Dear <span th:text="${booking.passenger.firstName}"></span>, we have received your booking!</H4>

	<p>Here are your Booking details:</p>
	<b>Booking Number: </b>
	<span th:text="${booking.confirmationCode}"></span>
	<br />
	<b>Trip Number: </b>
	<span th:text="${booking.trip.tripnr}"></span>
	<br />
	<b>From: </b>
	<span th:text="${booking.trip.origin.stationDetail}" ></span>
	<br />
	<b>To: </b>
	<span th:text="${booking.trip.destination.stationDetail}" ></span>
	<br />
	<b>Departure Time: </b>
	<span th:text="${booking.trip.departureDate}"></span> <span th:text="${booking.trip.departureTime}"></span>
	<br />
	<b>Arrival Time: </b>
	<span th:text="${booking.trip.arrivalDate}"></span> <span th:text="${booking.trip.arrivalTime}"></span>
	<br />
	<b>Operator: </b>
	<span th:text="${booking.trip.operator.operatorName}"></span>
	<br />

	<p>
		Thanks for your booking! Have a nice trip!<br /> &emsp; <em><b>3T Bus Management System</b></em><br />
		<img src="cid:logo" />
	</p>
</body>
</html>
